.add-expense-form {
    position: relative;
    margin-inline: auto;
    margin-bottom: 2em;
    
    width: min(90%, 800px);
    padding: 1em 2em;

    border: 1px lightgray solid;
    border-radius: 20px;

    h3 {
        margin: 0 0 16px;
    }

    form {
        width: 100%;
    }

    .close-form-icon{
        position: absolute;
        right: 8px;
        top: 8px;
        padding: 4px;
    }
    .close-form-icon:hover{
        cursor: pointer;
        
        border-radius: 50%;
        background-color: lightgray;
    }
}
