.expense-list {
    table {
        width: min(100%, 1000px);
        margin-inline: auto;
        padding: 1em 1.5em;
        margin-top: 40px;
        border-collapse: collapse;
        border-radius: 20px;
        background-color: #f1f7fe;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    thead {
        color: #fffafa;
        background-color: #3e4684;

        th{
            padding: 12px 20px;
            
            &:first-child {
                border-top-left-radius: 20px;
            }

            &:last-child {
                border-top-right-radius: 20px;
            }
        }
    }
    
    
    td {
        padding: 8px 20px;
    }
}