@font-face {
    font-family: poppins-semibold;
    src: url(/src/assets/styles/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: poppins-regular;
    src: url(/src/assets/styles/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-light;
    src: url(/src/assets/styles/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(/src/assets/styles/fonts/Poppins-Bold.ttf);
}
